body, html {
  margin:0;
}
html { 
    background: url(../images/dot-mesh.png), url(../images/bkgd-gradient.png), url(http://76.93.33.31:8081/), url(../images/bkgd.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url(../images/cursor.png) 25 25, auto;
  }
a {
  color:white;
  text-decoration: none;
  border-bottom: white 1px dotted;
}

@font-face {
  font-family: "Blocus";
  src:url("../fonts/Blocus.otf");
}

@font-face {
  font-family: "Steps Mono";
  src:url("../fonts/Steps-Mono.otf");
}

@font-face {
  font-family: "Steps Mono Thin";
  src:url("../fonts/Steps-Mono-Thin.otf");
}

#main-div-wrapper {
  /* width:100vw; hide */
  /* height:100vh; hide */
  max-height:100%;  /* added */
  max-width:100%;  /* added */
  background-color: transparent;
  padding-left:14vw;
  padding-right:3vw;
  padding-top:3vh;
  padding-bottom: 3vh;
}

#top-section {
 margin-bottom: 3vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 /*height:4.5vh;12.5-5(top)-2(bottom)*/ 
}

#open-garden-title {
  font-family: "Blocus";
  font-size: 14vh;
  font-weight: 300;
  color: #FFFFFF;
  transform: rotate(-90deg);
  /*writing-mode: vertical-rl;
  text-orientation: sideways;*/
  position: absolute;
  left: -40vh;
  bottom: 43vh;
  z-index: 53;
}

#top-section h1, #top-section p {
  margin-top:10px;
  margin-bottom: 5px;
  font-style: normal;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#top-section h1 {
  font-family: Steps Mono;
  text-transform: uppercase;
  font-size:20px;
  font-weight:600;
}

.cd-time{
  font-family: Steps Mono;
  font-size:20px;
  font-weight:400;
  letter-spacing: 1px;
}

#countdownClock_run {
  color: #FFFFFF;
}

/* material icon*/
.main-icon-lists {
  margin-left:3vw;
}
.main-icon-item {
  align-self:center;
  margin-left:30px;
}
#funds {
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  width: 275px;
  height: 150px;
  padding: 15 15 15 20;
  position: absolute;
  display: none;
  font-family: Steps Mono Thin;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
  z-index:4;
}

/*donate icon*/
#donate {
  cursor: pointer;
  display: flex;
  vertical-align: middle;
  color: white;
  font-size: 30px !important;
  width: auto;
}
/*hyperdrive icon*/
#host-hyperdrive-tip {
  cursor: pointer;
  display: flex;
  font-size:30px !important;
  align-self: center;
  color:white;
  z-index:10;
}

#hypertip {
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  width: 345px;
  height: 340px;
  padding: 15 15 15 20;
  position: absolute;
  display: none;
  font-family: Steps Mono Thin;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
  z-index:4;
}

/* music playing button*/
#music-on-wrapper, #music-off-wrapper, #about-icon-wrapper, #close-icon-wrapper{
  cursor:pointer;
  display: flex;
  vertical-align: middle;
  color: white;
  font-size: 30px !important;
  width: auto;
}

#music-on-wrapper {
margin-right:-10px;
}
/*about button*/
#music-icons,#about-icons {
  display: flex;
}
.music-icon, .about-icon {
  font-size:30px !important;
  align-self: center;
  cursor: pointer; 
  color:white;
  width:30px;
  transition: width 500ms;
  z-index: 4;
}

.music-icon-text{
  opacity: 0;
  color: white;
  transition: opacity 500ms;
  font-family: Blocus;
  letter-spacing: 2px;
  font-size:22px;
  line-height:30px;
  z-index: 3;
  margin-left: -68.3px;
}
.about-icon-text {
  opacity: 0;
  color: white;
  transition: opacity 500ms;
  font-family: Blocus;
  letter-spacing: 2px;
  font-size:22px;
  line-height:30px;
  z-index: 3;
  margin-left: -35px;
}

.music-icon:hover {
  width:100px;
}
.music-icon:hover + .music-icon-text {
  opacity:1;
}
/*music off icon*/
#music-off-wrapper {
  display: none;
  }
  
#close-icon {
    display: none;
  }
  
.about-icon:hover {
  width:70px;
 }
 .about-icon:hover + .about-icon-text {
  opacity: 1;
  }


/*close icon for the about page*/
#close-icon-wrapper {
visibility: hidden;
z-index:6;
}

#close-icon {
  display: none;
}

/*---------------------------------*/
.main-div {
  display: block;
}

#main-section {
  background-color:transparent;
  margin-bottom:3vh;
  height:75vh;
  border-radius: 20px;
  border:2px white solid;
  visibility:hidden;
}
/*livestreaming*/
#livestreaming-div {
  width:100%;
  height:100%;
  background-color: transparent;
  border-radius: 20px;
}

#live-streaming-feed {
  display:block;
  width:100%;
  height: 75vh;
  margin-left: auto;
  margin-right:auto;
  border-radius:20px;
}

/*add observations*/
#pop-up-add-alt {
  /*background: linear-gradient(#e9e3e300, #0f0f0f);*/
  background-color: rgba(0,0,0,0.6);
  height:auto;
  position:relative;
  margin-top:-75vh;
  overflow: auto;
  border-radius: 20px;
}

#pop-up-alt-list {
  margin-left:1vw;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex;
  overflow-x:hidden;
  overflow-y:scroll;
}
/*scrollbar styling*/
#pop-up-alt-list::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: transparent;
  border-radius: 2px;
}

#pop-up-alt-list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#pop-up-alt-list::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border-radius: 2px;
}
/*scrollbar styling*/
#pop-up-alt-list li{
  list-style: none;
  font-family: Steps Mono Thin;
  color:white;
  font-size:20px;
  line-height: 32px;
  font-weight:400;
  letter-spacing: 1px;
}

/*embedded etherpad*/
#pop-up-add-instruction {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content-onFeed {
  height:75vh;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  border-color: white 3px solid;
  border-radius: 20px;
  margin-top:-75vh;
}
#pop-up-instruction-content {
  height:75vh;
  display:flex;
  flex-direction: column;
  align-content: space-between;
}
.main-content-onFeed article {
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  margin-bottom:1vh;
  width:90%;
  font-family: Steps Mono Thin;
  color:white;
  line-height:30px;
  font-size:18px;
  letter-spacing: 1px;
  text-align: left;
}
#embedded-etherpad {
  display:block;
  width:90%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:3vh;
  align-self: center;
}
/*set reminder*/
#reminder-content-wrapper {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  width:60vw;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
#reminder-content-wrapper h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  font-family: Steps Mono;
  color:white;
  line-height:30px;
  font-size:20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}

.reminder-checkbox-div {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 3vh;

}
.reminder-checkbox {
 width:30px;
 height:30px;
 max-width: 100%;
 margin-right:1vw;
 border-radius: 50%;
}
.reminder-checkbox[type="checkbox"]:checked {
  background-color:cornflowerblue;
}

.reminder-checkbox-text {
  width:100%;
  font-family: Steps Mono Thin;
  font-size:20px;
  color:white;
  line-height:36px;
  text-align: left;
}

/*Email input and the send button*/
  #reminder-email {
  display:flex;
  width:100%;
  }

#email-setup {
  display:block;
  width:100%;
  font-size:20px;
  letter-spacing: 1px;
  padding-left: 20px;
  line-height: 20px;
  text-align: left;
  font-family: Steps Mono Thin;
  color: white;
  background-color: rgba(250, 250, 250, 0.3);
  border: white 2px solid;
  border-radius: 20px;
  }

/*reminder submit buttons*/
#reminder-send {
  font-size:30px;
  line-height: 40px;
  padding-left: 5px;
  padding-right:5px;
  margin-left: -50px;
  align-self: center;
  color:white;
  cursor: pointer;
  transition:color 500ms ease-in-out
}
#reminder-send:hover {
  color:green;
}


/*Menu Section*/
#choice-list {
  width:100%;
  display: flex;
  align-items: right;
  justify-content: space-between;
}
.choice-button {
  display: block;
  width: 25vw;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  font-family: Steps Mono;
  font-size:20px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  background-color: rgba(250, 250, 250, 0);
  border: white 2px solid;
  border-radius: 14px;
  cursor: pointer; 
}
.choice-button:hover {
  border: white 2px solid;
  background-color: rgba(250, 250, 250, 0.2);
}
/*Alt Text Input Bar */

#at-form {
  margin:0 0 0 0;
}
#at-input {
  margin-top:5px;
  margin-bottom: 5px;
  padding: 10px 60px 10px 10px;
  border-radius: 14px;
}
.alt-text-input {
  display:none;
}
.alt-text-input-visible {
  display: block;
  font-family: Steps Mono Thin;
  font-size:20px;
  color:white;
  width: 20vw;
  padding: 15px 5px;
  margin-right:0;
  background-color: rgba(250, 250, 250, 0.3);
  border: white 2px solid;
  border-radius: 20px;
  transition: width 600ms ease-in;
 }

.expandWidth {
  width: 58vw;
 }

.shrinkWidth {
  width:25vw;
}

::placeholder {
   color:white;
   padding-left: 15px;
 }
/*Alt-Text Send Button*/
#at-input-send {
 color:white;
 align-self: center;
 cursor: pointer;
 margin-right:50px;
 margin-left:-50px;
}
#at-input-send span {
  font-size: 30px !important;
  transition: color 200ms ease-out;
}

#at-input-send span:hover{
  color:cornflowerblue;
}

#choice-button-back {
  transition: width 600ms ease-in;
}

.choice-back-expandWidth{
  width: 80vw;
}

/*-------------*/

/*Pop-up Content*/
#pop-up-about {
  position: absolute;
  display: grid;
  top:0px; 
  bottom:0px; 
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  align-content: top;
  z-index:3;
  overflow-y: scroll;
}
#pop-up-about article {
  display:block;
  max-width: 65vw;
  margin-left:20%;
  margin-right:auto;
  margin-top: 30px;
}
#pop-up-about p {
  line-height:24px;
  font-size:18px;
  text-align: left;
  letter-spacing: 1px;
  font-family: Steps Mono Thin;
  color:white;
}

.q-mark {
  font-family: Garamond;
  font-weight: 100px;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.column {
  float: left;
  top: 50%;
  line-height:24px;
  font-size:50px;
  font-weight:200;
  letter-spacing: 2px;
  font-family: Blocus;
  color:white;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/*-------------*/
.dp-none {
  display:none;
}
.dp-block {
  display:block;
}
.dp-flex {
  display: flex;
}
.ps-relative {
  position:relative;
}

.ps-absolute {
  position:absolute;
}
.ps-sticky {
  position:sticky;
}

.align-center {
  margin-left:auto;
  margin-right:auto;
}